<div class="contact">

    <h1 class="contact__title">Me contacter</h1>

    <div class="contact__message">

        <form class="contact__form" novalidate>

            <div class="contact__field contact__field--fullName">
                <input 
                type="text" 
                class="contact__control" 
                name="full_name"  
                [(ngModel)]="formData.full_name" 
                placeholder="Full name"
                (change)="onValidName()"
                >

                <span *ngIf="!isFullNameValid" class="error">
                    {{errorNameMessage}}
                </span>

            </div>
            
            <div class="contact__field contact__field--email">
                <input 
                type="email" 
                class="contact__control"
                name="replay_to"
                [(ngModel)]="formData.replay_to"
                (change)="onValidEmail()"
                placeholder="E-mail"
                >

                <span *ngIf="!isEmailValid" class="error">
                    {{errorEmailMessage}}
                </span>
            </div>
            
            <div class="contact__field contact__field--subject">
                <input 
                type="text" 
                class="contact__control"
                name="subject"
                [(ngModel)]="formData.subject" 
                (change)="onValidSubject()"
                placeholder="Subject"
                >

                <span *ngIf="!isSubjectValid" class="error">
                    {{errorSubjectMessage}}
                </span>
            </div>
            
            <div class="contact__field contact__field--message">
                <textarea 
                class="contact__control"
                name="message"
                [(ngModel)]="formData.message"
                (change)="onValidMessage()"
                placeholder="Message"
                ></textarea>

                <span *ngIf="!isMessageValid" class="error">
                    {{errorMessageMessage}}
                </span>
            </div>

        </form>
    
        <button class="btn contact__btn--primary" [disabled]="isLoading || !isFormDataValid()" (click)="onSendEmail()">Envoyer votre message</button>

    </div>

</div>

<!--Modale-->

<div *ngIf="isSuccessModalVisible" class="modal modal__bg--light">

    <div class="modal__success">

        <h2>Message envoyé</h2>
        <p>Merci pour votre message, je vous répondrai dès que possible.</p>
        <button class="modal__btn" (click)="closeSuccessModal()">Ok</button>

    </div>

</div>

<!--Loading-->
<div *ngIf="isLoading" class="modal modal__bg--light">
    <p class="modal__loading">Envoie en cours...</p>
</div>

<!--Error-->
<div *ngIf="isError" class="modal">
    <p class="modal__errorSend">Message non envoyé !</p>
    
</div>


