<div class="contact">

    <h1 class="contact__title">Me contacter</h1>

    <div class="contact__message">

        <form class="contact__form">

            <input type="text" class="contact__control" placeholder="Full name">
            <input type="text" class="contact__control" placeholder="E-mail">
            <input type="text" class="contact__control" placeholder="Subject">
            <textarea class="contact__control--textarea" placeholder="Message"></textarea>

        </form>
    
        <button class="btn contact__btn--primary">Envoyer votre message</button>

    </div>

</div>
