<header class="navBar">

    <h1 class="navBar__logo" routerLink="home">FayssoilJS</h1>

    <nav class="navBar__nav">

        <ul class="navBar__list">
            <li class="navBar__item">
                <a class="navBar__link navBar__link--active" routerLink="home" routerLinkActive="navBar__link--active">Accueil</a>
            </li>
            <li class="navBar__item">
                <a class="navBar__link" routerLink="projects" routerLinkActive="navBar__link--active">Projets</a>
            </li>
            <li class="navBar__item">
                <a class="navBar__link" routerLink="about" routerLinkActive="navBar__link--active">A propos</a>
            </li>
            <li class="navBar__item">
                <a class="navBar__link" routerLink="contact" routerLinkActive="navBar__link--active">Contact</a>
            </li>
        </ul>

    </nav>

</header>
